body {
    margin: 0;
    text-align: center;
    font-family: Arial;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
}

.container {
    margin-top: 100px;
}

input {
    padding: 10px;
    width: 250px;
}

button {
    padding: 10px 20px;
    background-color: #ff4b5c;
    color: white;
    border: none;
    cursor: pointer;
}

h2 {
    margin-top: 20px;
    color: darkblue;
}